body{
  background-color: #ddd;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
